@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap')


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*#fullPage{
  background-image: url("./images/breakingbad.jpg");
  background-position: 100%;
  background-size: 140%;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}*/

#outer{
  background-color: black;
}

#main-nav{
height: 60vh;
width: 95%;
background-image: url("./images/breakingbad.jpg");
background-position: 100%;
background-size: 100%;
margin: 4vh;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

#logo{
  height: 80px;
  width: 200px;
  background-image: url("./images/5cc5af3c-5bd0-4d5c-9a77-a624d27e9dd7_200x200.png");
  background-position: 100%;
  background-size: 100%;
}

img{
  height: 100px;
  width: 100px;
  display: inline-flex;
  padding-top: 2vh;
  padding-left: 2vw;
}

#nav{
font-family: 'Knewave', cursive;
display: inline-flex;
flex-direction: row;
height: 6vh;
width: 30vw;
margin-left: 60vw;
color: yellow;
}

#navHome{
 color: black;
 background-color: white;
 font-family: 'Knewave', cursive;
font-size: 30px;
font-weight: 900;
margin-right: 2vw;
}

#navCategories{
  color: black;
  background-color: white;
 font-family: 'Knewave', cursive;
font-size: 30px;
font-weight: 900;
margin-right: 2vw;
}

#navAbout{
  color: black;
  background-color: white;
  font-family: 'Knewave', cursive;
 font-size: 30px;
 font-weight: 900;
 margin-right: 2vw;
}

#navAbout:hover{
  background-color: grey;
}

#navCategories:hover{
  background-color: grey;
}

#navHome:hover{
  background-color: grey;
}

#searchSpace{
  display: flex;
  flex-direction: row;
  margin-top: 20vh;
  margin-left: 5vw;
}



#submit{
 height: 100%;
 background-color: white;
 margin-right: 0;
 border-right-color: white;
 color: black;
}

#search{
  width: 30vw;
  height: 4vh;
  margin-left: 0;
  color: tan;
}

#submit:hover{
  height: 100%;
  background-color: black;
 margin-right: 0;
 border-color: white;
 color: black;
}

#aboutBackground{
background-color: black;
}

#hotSpot{
  color: white;
  height: 10vh;
}

#hotSpotTwo{
  color: white;
  height: 8vh;
}

#hotSpotThree{
  color: white;
  height: 8vh;
}