@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Knewave&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*#fullPage{
  background-image: url("./images/breakingbad.jpg");
  background-position: 100%;
  background-size: 140%;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}*/

#outer{
  background-color: black;
}

#main-nav{
height: 60vh;
width: 95%;
background-image: url("./images/breakingbad.jpg");
background-position: 100%;
background-size: 100%;
margin: 4vh;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

#logo{
  height: 80px;
  width: 200px;
  background-image: url("./images/5cc5af3c-5bd0-4d5c-9a77-a624d27e9dd7_200x200.png");
  background-position: 100%;
  background-size: 100%;
}

img{
  height: 100px;
  width: 100px;
  display: inline-flex;
  padding-top: 2vh;
  padding-left: 2vw;
}

#nav{
font-family: 'Bangers', cursive;
display: inline-flex;
flex-direction: row;
height: 6vh;
width: 30vw;
margin-left: 60vw;
}

#navHome{
 background-image: url("./images/homeNavfixed.png");
  background-position: 100%;
  background-size: 100%;
  height: 40px;
  width: 100px;
}

#navHome:hover{
  background-image: url("./images/homeNavMouse.png");
   background-position: 100%;
   background-size: 100%;
   height: 40px;
   width: 100px;
 }

#navCategories{
  background-image: url("./images/categoriesNav.png");
  background-position: 100%;
  background-size: 100%;
  height: 40px;
  width: 100px;
}

#navAbout{
  background-image: url("./images/aboutNav.png");
  background-position: 100%;
  background-size: 100%;
  height: 40px;
  width: 100px;
}

#navAbout:hover{
  background-image: url("./images/aboutMouse.png");
  background-position: 100%;
  background-size: 100%;
  height: 40px;
  width: 100px;}

#navCategories:hover{
  background-image: url("./images/CategoriesMouse.png");
  background-position: 100%;
  background-size: 100%;
  height: 40px;
  width: 100px;
}


#searchSpace{
  display: flex;
  flex-direction: row;
  margin-top: 20vh;
  margin-left: 5vw;
}



#submit{
 height: 100%;
 background-color: grey;
 margin-right: 0;
 border-right-color: white;
 color: black;
}

#search{
  width: 30vw;
  height: 4vh;
  margin-left: 0;
  color: tan;
}

#submit:hover{
  height: 100%;
  background-color: black;
 margin-right: 0;
 border-color: white;
 color: black;
}

#aboutBackground{
background-color: black;
}

#hotSpot{
  color: white;
  height: 10vh;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

#hotSpotTwo{
  color: black;
  height: 100%;
}

#hotSpotThree{
  color: black;
  height: 100%;
}

#hotSpotFour{
  color: black;
  height: 100%;
}

#bottomRow{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25vh;
  background-color: white;
}

#network{
  background-image: url("./images/network.png");
  background-position: 100%;
  background-size: 100%;
  height: 80%;
  width: 50%;
}

#firstAired{
  background-image: url("./images/firstAired.png");
  background-position: 100%;
  background-size: 100%;
  height: 80%;
  width: 50%;
}

#stillRunning{
  background-image: url("./images/tvIcon.png");
  background-position: 100%;
  background-size: 100%;
  height: 80%;
  width: 50%;
}

#bottomOne{
width: 33vw;
border: black solid;
display: flex;
flex-direction: row;
}

#bottomTwo{
  width: 33vw;
  border: black solid;
  display: flex;
  flex-direction: row;
}

#bottomThree{
  width: 33vw;
  border: black solid;
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 1280px){

#navHome{
  background-image: url("./images/homeNavfixed.png");
   background-position: 60%;
   background-size: 95%;
   height: 55px;
   width: 100px;
 }
 
 #navHome:hover{
   background-image: url("./images/homeNavMouse.png");
    background-position: 100%;
    background-size: 100%;
    height: 55px;
   width: 100px;
  }
 
 #navCategories{
   background-image: url("./images/categoriesNav.png");
   background-position: 100%;
   background-size: 100%;
   height: 55px;
   width: 100px;
 }
 
 #navAbout{
   background-image: url("./images/aboutNav.png");
   background-position: 100%;
   background-size: 100%;
   height: 55px;
   width: 100px;
 }
 
 #navAbout:hover{
   background-image: url("./images/aboutMouse.png");
   background-position: 100%;
   background-size: 100%;
   height: 55px;
   width: 100px;
  }
 
 #navCategories:hover{
   background-image: url("./images/CategoriesMouse.png");
   background-position: 100%;
   background-size: 100%;
   height: 55px;
   width: 100px;
 }
 
}